## Assignment 9 : Introduction to Data Science

### Topic : Come up with three questions whose answers require a chi-squared, t-test and, correlation/ regression.

In [24]:
%matplotlib inline

import os                            
import numpy as np
import csv
import pandas as pd                           
import seaborn as sns              
import matplotlib.pyplot as plt   
import scipy.stats as stats
import statsmodels.formula.api as smf

### Displaying Data for SAT Results of year 2010 (Observed set of values)

In [25]:
    fp = "C:/Users/kshit/Desktop/IDS assignment 2 review/SAT_Results_2010.csv" 
    data_2010 = pd.read_csv(fp)
    data_2010.head()

,DBN,School Name,Number of Test Takers,Critical Reading Mean,Mathematics Mean,Writing Mean
0,01M292,Henry Street School for International Studies,31,391,425,385
1,01M448,University Neighborhood High School,60,394,419,387
2,01M450,East Side Community High School,69,418,431,402
3,01M458,SATELLITE ACADEMY FORSYTH ST,26,385,370,378
4,01M509,CMSP HIGH SCHOOL,s,s,s,s

In [26]:
column_names = {'DBN': 'DB_Number_2010', 'School Name': 'SCHOOL_2010', 'Number of Test Takers': 'Applicants_2010',
                'Critical Reading Mean': 'Avg_CR_Score_2010', 'Mathematics Mean': 'Avg_Math_Score_2010', 
                'Writing Mean': 'Avg_Writing_Score_2010'} 

data_2010 = (data_2010.rename(columns=column_names)
    .dropna(thresh=4)
    [['DB_Number_2010','SCHOOL_2010','Applicants_2010','Avg_CR_Score_2010','Avg_Math_Score_2010','Avg_Writing_Score_2010']]
    .set_index('DB_Number_2010', append=True) 
    .rename_axis(["Serial Number", "DB_Number_2010"])  
    .sort_index())

In [84]:
data_2010.replace('s',np.NaN) 
data_2010["Applicants_2010"]=pd.to_numeric(data_2010["Applicants_2010"], errors="coerce") 
data_2010["Avg_CR_Score_2010"]=pd.to_numeric(data_2010["Avg_CR_Score_2010"], errors="coerce") 
data_2010["Avg_Math_Score_2010"]=pd.to_numeric(data_2010["Avg_Math_Score_2010"], errors="coerce") 
data_2010["Avg_Writing_Score_2010"]=pd.to_numeric(data_2010["Avg_Writing_Score_2010"], errors="coerce")

In [85]:
data_2010["Applicants_2010"].fillna(int(data_2010["Applicants_2010"].mean()), inplace=True) 
data_2010["Avg_CR_Score_2010"].fillna(int(data_2010["Avg_CR_Score_2010"].mean()), inplace=True)
data_2010["Avg_Math_Score_2010"].fillna(int(data_2010["Avg_Math_Score_2010"].mean()), inplace=True)
data_2010["Avg_Writing_Score_2010"].fillna(int(data_2010["Avg_Writing_Score_2010"].mean()), inplace=True)

data_2010.head()

,,SCHOOL_2010,Applicants_2010,Avg_CR_Score_2010,Avg_Math_Score_2010,Avg_Writing_Score_2010
Serial Number,DB_Number_2010,,,,,
0,01M292,Henry Street School for International Studies,31.0,391.0,425.0,385.0
1,01M448,University Neighborhood High School,60.0,394.0,419.0,387.0
2,01M450,East Side Community High School,69.0,418.0,431.0,402.0
3,01M458,SATELLITE ACADEMY FORSYTH ST,26.0,385.0,370.0,378.0
4,01M509,CMSP HIGH SCHOOL,103.0,404.0,412.0,397.0

### Displaying Data for SAT Results of year 2012 (Expected Data set)

In [81]:
fp="C:/Users/kshit/Desktop/IDS assignment 2 review/SAT_Results_2012.csv"
data_2012=pd.read_csv(fp)
data_2012.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

In [82]:
column_names = {'DBN': 'Database_Number', 'SCHOOL NAME': 'SCHOOL_2012',
                'Num of SAT Test Takers': 'Applicants_2012', 'SAT Critical Reading Avg. Score': 'Avg_CR_Score_2012', 
                'SAT Math Avg. Score': 'Avg_Math_Score_2012', 'SAT Writing Avg. Score': 'Avg_Writing_Score_2012'} #created a dictionary for column name changes

data_2012=(data_2012.rename(columns=column_names) 
.dropna(thresh=4) 
[['Database_Number','SCHOOL_2012','Applicants_2012','Avg_CR_Score_2012','Avg_Math_Score_2012','Avg_Writing_Score_2012']]
.set_index('Database_Number', append=True)
.rename_axis(["SNo", "Database_Number"])
.sort_index())

data_2012.head()

,,SCHOOL_2012,Applicants_2012,Avg_CR_Score_2012,Avg_Math_Score_2012,Avg_Writing_Score_2012
SNo,Database_Number,,,,,
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

In [79]:
data_2012.replace('s',np.NaN) 
data_2012["Applicants_2012"]=pd.to_numeric(data_2012["Applicants_2012"], errors="coerce") 
data_2012["Avg_CR_Score_2012"]=pd.to_numeric(data_2012["Avg_CR_Score_2012"], errors="coerce") 
data_2012["Avg_Math_Score_2012"]=pd.to_numeric(data_2012["Avg_Math_Score_2012"], errors="coerce") 
data_2012["Avg_Writing_Score_2012"]=pd.to_numeric(data_2012["Avg_Writing_Score_2012"], errors="coerce")

In [78]:
data_2012["Applicants_2012"].fillna(int(data_2012["Applicants_2012"].mean()), inplace=True) 
data_2012["Avg_CR_Score_2012"].fillna(int(data_2012["Avg_CR_Score_2012"].mean()), inplace=True)
data_2012["Avg_Math_Score_2012"].fillna(int(data_2012["Avg_Math_Score_2012"].mean()), inplace=True)
data_2012["Avg_Writing_Score_2012"].fillna(int(data_2012["Avg_Writing_Score_2012"].mean()), inplace=True)

data_2012.head()

,,SCHOOL_2012,Applicants_2012,Avg_CR_Score_2012,Avg_Math_Score_2012,Avg_Writing_Score_2012
SNo,Database_Number,,,,,
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29.0,355.0,404.0,363.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91.0,383.0,423.0,366.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70.0,377.0,402.0,370.0
3,01M458,FORSYTH SATELLITE ACADEMY,7.0,414.0,401.0,359.0
4,01M509,MARTA VALLE HIGH SCHOOL,44.0,390.0,433.0,384.0

## Question 1: What will be the measure of Average Critical Reasoning Marks scored in the year 2012 as compared to year 2010?

### Calculate Chi-Squared values for the marks scored in Average Critical Reasoning

In [33]:
observed = data_2010['Avg_CR_Score_2010'].mean()
expected = data_2012['Avg_CR_Score_2012'].mean()
chi_squared = (((observed-expected)**2)/expected)

print(chi_squared)

0.029868605656417

- From the above code,since Chi-squared value is closer to zero, we can predict that there would not be any significant difference between the Average CR marks for years 2010 and 2012.

In [34]:
import scipy
from scipy.stats import chisquare
chisquare(data_2010['Avg_CR_Score_2010'].mean(),f_exp=data_2012['Avg_CR_Score_2012'].mean())

Power_divergenceResult(statistic=0.029868605656417, pvalue=nan)

### Linear Regression for marks scored in Average Critical Reasoning

In [62]:
lm=smf.ols(formula='Applicants_2010~Avg_CR_Score_2010',data=data_2010).fit()
lm.params

Intercept           -350.904942
Avg_CR_Score_2010      1.124313
dtype: float64

In [63]:
lm.predict(data_2010.Avg_CR_Score_2010).head() #predicting Avg CR marks for various schools

Serial Number  DB_Number_2010
0              01M292             88.701465
1              01M448             92.074404
2              01M450            119.057918
3              01M458             81.955586
4              01M509            103.317535
dtype: float64

In [64]:
lm.pvalues #We predict the model co-efficients

Intercept            8.625054e-15
Avg_CR_Score_2010    3.568955e-23
dtype: float64

In [65]:
lm.rsquared # Calculating R-squared values for Avg CR scores

0.1933709020227159

## T-statistics for Average Critical Reasoning

In [66]:
stats.ttest_rel(data_2010["Avg_CR_Score_2010"].head(),data_2012["Avg_CR_Score_2012"].head())

Ttest_relResult(statistic=1.1785696654867619, pvalue=0.30389138776396163)

- From the above code we conclude that since the p-value is lesser than t-statistics value,we can say tha the null hypothesis is rejected in this case

## Question 2: What will be the measure of Average Math Marks scored in the year 2012 as compared to year 2010?

### Chi-Squared value for Average Math marks

In [35]:
observed = data_2010['Avg_Math_Score_2010'].mean()
expected = data_2012['Avg_Math_Score_2012'].mean()
chi_squared = (((observed-expected)**2)/expected)

print(chi_squared)

0.0007041547650642788

In [36]:
chisquare(data_2010['Avg_Math_Score_2010'].mean(),f_exp=data_2012['Avg_Math_Score_2012'].mean())

Power_divergenceResult(statistic=0.00070415476506427877, pvalue=nan)

### Linear Regression for Average Math Marks

In [68]:
lm=smf.ols(formula='Applicants_2010~Avg_Math_Score_2010',data=data_2010).fit()
lm.params

Intercept             -401.375805
Avg_Math_Score_2010      1.223223
dtype: float64

In [69]:
lm.predict(data_2010.Avg_Math_Score_2010).head()

Serial Number  DB_Number_2010
0              01M292            118.494113
1              01M448            111.154773
2              01M450            125.833453
3              01M458             51.216829
4              01M509            102.592210
dtype: float64

In [70]:
lm.pvalues

Intercept              3.574097e-25
Avg_Math_Score_2010    2.678473e-37
dtype: float64

In [71]:
lm.rsquared

0.29951028543413316

### T-Statistics for Average Math marks

In [72]:
stats.ttest_rel(data_2010["Avg_Math_Score_2010"].head(),data_2012["Avg_Math_Score_2012"].head())

Ttest_relResult(statistic=-0.10341753799900384, pvalue=0.9226091861131176)

## Question 3: What will be the measure of Average Writing Marks scored in the year 2012 as compared to year 2010?

### Chi-Square for Average Writing Marks

In [37]:
observed = data_2010['Avg_Writing_Score_2010'].mean()
expected = data_2012['Avg_Writing_Score_2012'].mean()
chi_squared = (((observed-expected)**2)/expected)

print(chi_squared)

0.03494708488100381

In [38]:
chisquare(data_2010['Avg_Writing_Score_2010'].mean(),f_exp=data_2012['Avg_Writing_Score_2012'].mean())

Power_divergenceResult(statistic=0.034947084881003808, pvalue=nan)

### Linear Regression for calculating Average Writing score

In [47]:
lm=smf.ols(formula='Applicants_2010~Avg_Writing_Score_2010',data=data_2010).fit()
lm.params

Intercept                -347.373416
Avg_Writing_Score_2010      1.134181
dtype: float64

In [48]:
lm.predict(data_2010.Avg_Writing_Score_2010).head()

Serial Number  DB_Number_2010
0              01M292             89.286153
1              01M448             91.554515
2              01M450            108.567225
3              01M458             81.346888
4              01M509            102.896322
dtype: float64

In [49]:
lm.pvalues

Intercept                 1.601534e-15
Avg_Writing_Score_2010    1.984800e-24
dtype: float64

In [50]:
lm.rsquared

0.20339829083510508

### T-test statistics for calculating Average Writing score

In [67]:
stats.ttest_rel(data_2010["Avg_Writing_Score_2010"].head(),data_2012["Avg_Writing_Score_2012"].head())

Ttest_relResult(statistic=6.9577401497571989, pvalue=0.0022424258812041289)

### References

https://plot.ly/python/t-test/
https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html